#map { height: 500px;
margin: 50px }

h1{
    text-align: center;
    font-style: oblique;
}
.popup-img{
   max-width: 100%;
   height: auto;
   border-radius: 8px;
   margin-bottom: 10px; 
   object-fit: cover;
}

